html::-webkit-scrollbar {
    width: 10px;
}

html,body::-webkit-scrollbar-track {
    border-radius: 10px;
    background: #242424;
}

html::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: linear-gradient(135deg, #E0B92D, #68359A, #2658AF);
}
.messages::-webkit-scrollbar {
    width: 5px;
}

.messages::-webkit-scrollbar-track {
    border-radius: 10px;
    background: #242424;
}

.messages::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: linear-gradient(135deg, #2658AF, #68359A, #E0B92D);
}
html {
    margin-right: 550px;
}
body {
    background-color: #242424;
    margin-left:auto;
    margin-right:auto;
}
input {
    font-size: inherit;
    width: 100px;
    border-radius: 8px;
}
select {
    font-size: inherit;
    width: 200px;
    border-radius: 8px;
}
.main {
    color: azure;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "main_title main_title"
                         "count_units count_units"
                         "perceptron messages"
                         "perceptron messages"
                         "perceptron_logs perceptron_logs";
    align-items: center;
    justify-items: center;
    gap: 20px;
    font-size: 25px;
}
.main-title {
    text-align: center;
    grid-area: main_title;
}
.count-units-title {
    font-size: 35px;
}
.count-units {
    grid-area: count_units;
    text-align: center;
    background-color: #374879;
    padding: 30px;
    border-radius: 20px;
}
.count-units-list {
    list-style: none;
}
.count-units-item {
    margin-bottom: 15px;
}
.count-units-loss-list {
    width: 300px;
}
.perceptron {
    grid-area: perceptron;
    padding-left: 10px;
}
.perceptron-logs {
    grid-area: perceptron_logs;
}
.messages {
    height: 500px;
    width: 500px;
    overflow: auto;
    grid-area: messages;
}
.perceptron-logs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "multiplication_1 bias_1 multiplication_2 bias_2";
    align-items: center;
    justify-items: center;
    font-size: 23px;
}
.multiplication_1 {
    grid-area: multiplication_1;
}
.multiplication_2 {
    grid-area: multiplication_2;
}
.bias_1 {
    grid-area: bias_1;
}
.bias_2 {
    grid-area: bias_2;
}
.submit-button {
    font-size: inherit;
    padding: 15px 25px;
    background-color: #E0B92D;
    border-radius: 15px;
    border-color: transparent;
}
.submit-button:hover {
    color: azure;
    transition: .3s;
}